<form action="/new_word" method="post">
  <div class="form-group">
     <label for="word">Add a new word:</label>
     <input name="word" id="word" class="form-control" type="text">
  </div>
  <button class="btn btn-success">Submit</button>
</form>
