<h1>Welcome to the Word Definer</h1>
<h3>My Words:</h3>
<h4>Click on a word to see or add definitions</h4>

<ul><h4>
  <% @words.each() do |word| %>
    <a href="/word/<%= word.id() %>"><li><%= word.word() %></a></li>
  <% end %>
</ul></h4>
<hr>
<h4><a href="/add_word">Add Word</a></h4>
