<form action="/input_word" method="post">
  <div class="form-group">
     <h4><label for="word">Add a word:</label></h4>
     <input name="word" id="word" class="form-control" type="text">
     <h4><label for="definition">Add a definition:</label></h4>
     <input name="definition" id="definition" class="form-control" type="text">
  </div>
  <button class="btn btn-success">Submit</button>
</form>

<h4><a href="/">Return to your word list</a></h4>
